qp.url = http://{{ query_planer_ip }}:8080/query
excellent_item_index = excellent_items
good_item_index = good_items
bad_item_index = bad_items
ranking_index = items_ranking
summary_index = items_summary
server.port = 8080
