<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="excellentItemSearchClient" class="com.alibaba.benchmark.SearchClient">
        <constructor-arg name="host" value="{{ excellent_items_cluster_master_ip }}"/>
        <constructor-arg name="port" value="9200"/>
        <constructor-arg name="schema" value="http"/>
    </bean>
    <bean id="goodItemSearchClient" class="com.alibaba.benchmark.SearchClient">
        <constructor-arg name="host" value="{{ good_items_cluster_master_ip }}"/>
        <constructor-arg name="port" value="9200"/>
        <constructor-arg name="schema" value="http"/>
    </bean>
    <bean id="badItemSearchClient" class="com.alibaba.benchmark.SearchClient">
        <constructor-arg name="host" value="{{ bad_items_cluster_master_ip }}"/>
        <constructor-arg name="port" value="9200"/>
        <constructor-arg name="schema" value="http"/>
    </bean>
    <bean id="rankingSystemClient" class="com.alibaba.benchmark.SearchClient">
        <constructor-arg name="host" value="{{ ranking_system_ip }}"/>
        <constructor-arg name="port" value="9200"/>
        <constructor-arg name="schema" value="http"/>
    </bean>
    <bean id="summarySystemClient" class="com.alibaba.benchmark.SearchClient">
        <constructor-arg name="host" value="{{ summary_cluster_ip }}"/>
        <constructor-arg name="port" value="9200"/>
        <constructor-arg name="schema" value="http"/>
    </bean>
</beans>
